.page-header {
	background-color: #FF00FF;
	margin-top: 0;
	padding: 20px 20 px 20 px 40px;
	text-align: center;
	font-size: 30pt;
}

.page-header h1, .page-header h1 a, .page-header h1:visited, .page-header h1 a:active{
	color: #73ff2b;
	font-size: 60pt;
	text-declaration: none;
}

body {
	background-color: #000000;
}

.content {
	margin-left: 44px;
	color: #73ff2b;
}

h1, h2, h3, h4 {
	font-family: 'Lobster', cursive;
	color: #FF00FF;
}

.date {
	color: #73ff2b;
}

.save {
	float: right;
}

.post-form textarea, .post-form input {
	color: #73ff2b;
	float: right;
	font-size: 26pt;
	margin-right: 20px;
}

.post {
	margin-bottom: 70px;
	font-size: 16pt;
}

.post h1 a, .post h1a:visited {
	color: #FF00FF;
	font-size: 34pt;
}
