.page-header {
	background-color: #73ff2b;
	margin-top: 0;
	padding: 20px 20 px 20 px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1:visited, .page-header h1 a:active{
	color: rgba(255, 5, 250, 0.96);
	font-size: 36pt;
	text-declaration: none;
}

.content {
	margin-left: 40px;
}

h1, h2, h3, h4 {
	font-family: 'Lobster', cursive;
}

.date {
	color: #828282;
}

.save {
	float: right;
}

.post-form textarea, .post-form input {
	color: #ffffff;
	float: right;
	font-size: 26pt;
	margin-right: 20px;
}

.post {
	margin-bottom: 70px;
}

.post h1 a, .post h1a:visited {
	color: #000000;
}
